<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="ict_shopbybrand" sortOrder="2000">
            <label>Ict</label>
        </tab>
        <section id="ict_shopbybrand" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Shopbybrand</label>
            <tab>ict_shopbybrand</tab>
            <resource>Ict_Shopbybrand::shopbybrand</resource>
            <group id="maker" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopbybrand</label>
                <field id="enabled" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Shopbybrand</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="breadcrumbs" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="featured" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable featured brand on home page </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="cateshopbybrand" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable brand on category page </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="layershopbybrand" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable filter by shopbybrand on layered navigation </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="searchshopbybrand" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable search by shopbybrand on list page </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="charshopbybrand" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Alphabetic search on list page </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="banners" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable brand banner and text on view brand page </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="list_url" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shopbybrand list url</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="url_prefix" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shopbybrand url prefix</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="url_suffix" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shopbybrand url suffix</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- <field id="meta_title" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maker list meta title</label>
                </field>
                <field id="meta_description" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maker list meta description</label>
                </field>
                <field id="meta_keywords" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maker list meta keywords</label>
                </field> -->

                

              <!--   <field id="rss" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable RSS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rss_cache" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>RSS Cache Lifetime</label>
                    <comment>in seconds</comment>
                </field> -->
            </group>
        </section>
    </system>
</config>