<?xml version="1.0"?>
<!-- /**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blog> 
            <general>
                <url_prefix>blog</url_prefix>
                <url_suffix>html</url_suffix>
                <list_per_page_values>5,10,15,20,25</list_per_page_values>
                <list_per_page>5</list_per_page>
            </general>
            <sidebar>
                <number_recent_posts>5</number_recent_posts>                               
            </sidebar>                    
        </blog>
    </default>
</config>
