<?xml version="1.0"?>
<!--
/**
* Copyright © Icreative Technologies. All rights reserved.
*
* @author : Icreative Technologies
* @package : Ict_Cancelorder
* @copyright : Copyright © Icreative Technologies (http://icreativetechnologies.com/)
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="cancelorder" frontName="cancelorder">
            <module name="Ict_Cancelorder" />
        </route>
    </router>
</config>