<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogSearch\Controller\Result\Index" type="Forever\LayeredNavigation\Controller\Search\Result\Index"/>
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="ajax_layer_navigation" type="Forever\LayeredNavigation\Plugin\Controller\Category\View" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Model\Layer\Filter\Item">
        <plugin name="layer_ajax_filter_item_url" type="Forever\LayeredNavigation\Plugins\Model\Layer\Filter\Item" sortOrder="1" />
    </type>
</config>