<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <forever_categories>
            <general>
                <enabled>1</enabled>
            </general>
            <home_page>
                <category_select></category_select>
            </home_page>
        </forever_categories>
    </default>
</config>
