<?xml version="1.0"?>
<!--
/** 
 * @package   Forever_Testimonials
 * @author    Ricky Thakur (Kapil Dev Singh)
 * @copyright Copyright (c) 2018 Ricky Thakur
 * @license   MIT license (see LICENSE.txt for details)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="testimonials_listing_data_source" xsi:type="string">Forever\Testimonials\Model\ResourceModel\Testimonials\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Forever\Testimonials\Model\ResourceModel\Testimonials\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">forever_testimonials</argument>
            <argument name="resourceModel" xsi:type="string">Forever\Testimonials\Model\ResourceModel\Testimonials\Collection</argument>
        </arguments>
    </virtualType>  
</config>
